#minbtn{
    tooltip:最小化;
    width:27;
    height:22;
    normalimage:file='common/sys_btn_min.png' source='0,0,26,22';
    hotimage:file='common/sys_btn_min.png' source='27,0,53,22';
    pushedimage:file='common/sys_btn_min.png' source='54,0,80,22';
}
#maxbtn{
    tooltip:最大化;
    width:27;
    height:22;
    normalimage:file='common/sys_btn_max.png' source='0,0,26,22';
    hotimage:file='common/sys_btn_max.png' source='27,0,53,22';
    pushedimage:file='common/sys_btn_max.png' source='54,0,80,22';
}	
#closebtn{
    width:27;
    height:22;
    tooltip:关闭;
    normalimage:file='common/sys_btn_close.png' source='0,0,26,22';
    hotimage:file='common/sys_btn_close.png' source='27,0,53,22';
    pushedimage:file='common/sys_btn_close.png' source='54,0,80,22';
}
#restorebtn{
    width:27;
    height:22;
    visible:false;
    tooltip:还原;
    normalimage:file='common/sys_btn_restore.png' source='0,0,26,22';
    hotimage:file='common/sys_btn_restore.png' source='27,0,53,22';
    pushedimage:file='common/sys_btn_restore.png' source='54,0,80,22';
}	

VScrollBar{
    width:10;
    minheight:30;
    showbutton1:false;
    showbutton2:false;
    thumbnormalimage:file='common/scrollbar.png' source='18,0,28,34' corner='2,5,2,5';
    bknormalimage:file='common/scrollbar.png' source='0,0,10,34' corner='2,5,2,5'
}

Window{
    caption:0,0,0,30;
    size:600,384;
    mininfo:600,384;
    sizebox:4,4,4,4;
    layered:false;
    textrenderinghint:0;
    showshadow:true;
    shadowimage:common/shadow.png;
    shadowsize:6;
    shadowcorner:8,8,8,8;
}

